@media (min-width: 576px) {
    .offcanvas.offcanvas-end {
      width: 250px !important;
    }
}

* {
    font-family: Montserrat;
}

.revoup h1 {
    text-align: center;
    margin-top: 70px !important;
}

.revoup p {
    text-align: justify;
}

.card {
    margin-top: 10px;
    margin-left: 20px;
    transition: transform 0.3s;
    float: left;
}

.card:hover {
    transform: scale(1.02);
}

article {
    transition: transform 0.3s;
}

article:hover {
    transform: scale(1.01);
}